# build output
dist/
.astro/

# dependencies
node_modules/

# logs
*.log

# environment variables
.env*

# temporary files
tmp/
*.tmp

# macOS-specific files
.DS_Store

# WSL-specific files
*:Zone.Identifier

# Package manager files
package-lock.json
yarn.lock
pnpm-lock.yaml
